.navigation-topics,
.categories-list,
.tags-page,
body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
  .list-controls {
    .navigation-container .navigation-controls {
      position: fixed;
      bottom: 0.5em !important;
      left: 1em;
      max-width: calc(100% - 4em);
      width: 100%;
      border-radius: 5em;
      padding: 1em;
      box-shadow: shadow("card");
      background: var(--secondary);
      transition: all 0.2s ease-in;
      justify-content: center;
      .notifications-button {
        bottom: 0;
        position: relative;
      }
    }
  }
}

body.tab-bar-hidden {
  &.navigation-topics,
  &.categories-list,
  &.tags-page,
  &[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
    .list-controls {
      .navigation-container .navigation-controls {
        bottom: -3em !important;
        transition: all 0.2s ease-in;
      }
    }
  }
}
